.bg-image {
  background: url(../../assets/images/background-log-in.jpg);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginCol {
  background-color: #f4511e;
  height: 100%;
}
.loginSection {
  padding-top: 40%;
  padding-bottom: 60%;
}
.loginHeader {
  background-color:white;
  padding-left: 12%;
  padding-right: 8%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 50px;
}
.greeter {
  text-align: center;
}
.form-label-group {
  margin-bottom: 8%;
}
.btn-primary {
  margin-top: 10%;
  background-color: #f4511e;
  border-color: #f4511e;
}
.btn-primary:hover {
  background-color: darkred;
  border-color: darkred;
  color: white;
}
.logoSocial {
  font-size: 40px;
  color: white;
}
.footer {
  background-color: #f4511e;
}
.footerlinks {
  color: #f5411e;
}
.footerdiv {
  padding: 2%;
  margin-top: 2%;
  background-color: white;
}
.copyrights {
  color: white;
}
.socialIcons {
  padding-right: 10%;
}

/* .masthead {
    background: url(../../assets/images/background-log-in.jpg);
    padding-bottom: 30%;
    padding-top: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.cardrow {
padding-top: 5%;
padding-bottom: 5%;
}
.headrow {
padding-top: 15%;
}
h1 {
background-color: #f4511e;
padding-top: 5px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
}
.btn-primary {
background-color: #f4511e;
border-color: #f4511e;
}
.logo {
font-size: 100px;
}
.card {
text-align: center;
margin: 5%;
}
.container {
padding-top: 0px;
}
.showcase-text {
padding-left: 10%;
}
.showcase-img {
width: 60%;
height: 40%;
background-size: cover;
background-position: left;
}

.footer {
    background-color: #f4511e;
    margin-top: 3%;
  }
  .footerlinks {
    color: #f5411e;
  }
  .footerdiv {
    padding: 10px;
    margin-top: 10px;
    background-color: white;
  }
  .copyrights {
    color: white;
  }
  .socialIcons {
    padding-right: 3%;
  }
   */
