<div class="container-fluid bg-image">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 loginCol">
      <div class="loginSection align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 rounded loginHeader">
              <h3 class="greeter rounded">Welcome back!</h3>
              <br>
              <form>
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" #userEmail required autofocus>
                </div>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" #userPassword required>
                </div>
                <button type="submit" class="btn btn-block btn-lg btn-primary"
                (click)="authService.login(userEmail.value, userPassword.value)"
                >Sign up!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row headrow justify-content-center">
      <div class="col-xl-auto mx-auto">
        <h1 class="mb-5 rounded">Mobility made responsible</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="password" class="form-control form-control-lg" placeholder="password">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header> -->
