.nav {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
}
.btn-primary {
  background-color: #f4511e;
  border-color: #f4511e;
  text-align: center;
}
.btn-primary:hover {
  background-color: darkred;
  border-color: darkred;
}
.navbar {
  background-color: dimgray;
  color: white;
}

