<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a routerLink="home" class="navbar-brand nav-item nav-link"><h2>{{title}}</h2></a>
    <a routerLink="login" class=" btn-primary btn nav-item nav-link align-right">Login</a>
  </div>
</nav>
<router-outlet></router-outlet>





<!-- <div class="container-fluid">
  <h1>{{ title }}</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="home" class="nav-item nav-link">Home</a>
        <a routerLink="dash" class="nav-item nav-link">Dashboard</a>
        <a routerLink="users" class="nav-item nav-link">Users</a>
       </div>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-nav ml-auto">
        <a routerLink="login" class="nav-item nav-link align-right">Login</a>
        <a routerLink="contact" class="nav-item nav-link">Contact</a>
      </div>
    </div>
  </nav>
  <div>

    <router-outlet></router-outlet>
  </div>
</div> -->

