<div class="jumbotron text-center">
  <h1>Responsible mobilty for a responsible world</h1>
  <p>Marketing onzin hier</p>
</div>
<div class="descContainer container-fluid">
  <div class="row">
    <div class="col-sm-8 text-left">
      <h2>Our Promise:</h2>
      <h4>
        bla bla bla <br>
        bla bla bla <br>
      </h4>
      <br><br>
      <button type="button" class="btn btn-secondary">Get started</button>
    </div>
    <div class="col-sm-4">
      <fa-icon class="logo" [icon]="faSignal"></fa-icon>
    </div>
  </div>
</div>
<br>
<div class="descContainer container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <fa-icon class="logo" [icon]="faGlobeEurope"></fa-icon>
    </div>
    <div class="col-sm-8 text-right">
      <h2>Our goal:</h2>
      <h4><strong>MISSION:</strong> Our mission bla bla bla</h4>
      <p><strong>VISION:</strong> Our vision bla bla bla</p>
    </div>
  </div>
</div>
