<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row headrow justify-content-center">
      <div class="col-xl-auto mx-auto">
        <h1 class="mb-5 rounded">Mobility made responsible</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="col-12 col-md-12">
            <div *ngIf="authService.isLoggedIn" class="nav-item">
              <button routerLink="../dash" type="submit" class="btn btn-lg btn-primary btnSubmit">Go To Dashboard</button>
            </div>
            <div *ngIf="!authService.isLoggedIn" class="nav-item">
              <button routerLink="../register" type="submit" class="btn btn-lg btn-primary btnSubmit">Sign up!</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--
  ####################################################################
  ####  CARDS WITH FONTAWESOME ICONS
  #####################################################################
 -->
<div class="container-fluid">
  <div class="row cardrow justify-content-center">
    <div class="col-sm-auto">
      <div class="card text-white logocard" style="width: 18rem;">
        <fa-icon class="logo" [icon]="faSignal"></fa-icon>
        <div class="card-body">
          <h5 class="card-title">Share</h5>
          <p class="card-text">The best way to share your car with your friedns and familie.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-auto">
      <div class="card text-white logocard" style="width: 18rem;">
        <fa-icon class="logo" [icon]="faGlobeEurope"></fa-icon>
        <div class="card-body">
          <h5 class="card-title">Econimize</h5>
          <p class="card-text">Know you will always know who owes who.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-auto">
      <div class="card text-white logocard" style="width: 18rem;">
        <fa-icon class="logo" [icon]="faSignal"></fa-icon>
        <div class="card-body">
          <h5 class="card-title">Care</h5>
          <p class="card-text">Now you will always know who keeps on breaking the car.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  ###########################################################
  #### PICTURE SHOWCASE
  ###########################################################
 -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img img1 rounded"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Make a group</h2>
        <p class="lead mb-0">With Socialwheels you can make an group in wich you will be able to see, <br> who used the car when, for how long and for what distance.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img img2 rounded"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Sharing is caring</h2>
        <p class="lead mb-0">Now you will be able to share yor car in peace. Knowing that who does something <br> Wrong will be held acountable.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img img3 rounded"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Easy to use</h2>
        <p class="lead mb-0">Just sign up, fill in some basic information, and you are all set to start sharing your car!</p>
      </div>
    </div>
  </div>
</section>
