.bg-image {
  background: url(../../assets/images/background-log-in.jpg);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginCol {
  background-color: #f4511e;
  height: 100%;
}
.loginSection {
  padding-top: 40%;
  padding-bottom: 60%;
}
.loginHeader {
  background-color:#f4511e;
  padding-left: 12%;
  padding-right: 8%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 50px;
}
.greeter {
  text-align: center;
  color: white;
}
.form-label-group {
  margin-bottom: 8%;
}
.btn-primary {
  margin-top: 10%;
  background-color: white;
  border-color: grey;
  border-radius: 15px;
  color: black;
  }
.btn-primary:hover {
  background-color: darkred;
  border-color: darkred;
  color: white;
}
.logoSocial {
  font-size: 40px;
  color: white;
}
.footer {
  background-color: #f4511e;
}
.footerlinks {
  color: #f5411e;
}
.footerdiv {
  padding: 2%;
  margin-top: 2%;
  background-color: white;
}
.copyrights {
  color: white;
}
.socialIcons {
  padding-right: 10%;
}
